{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Hero-->
  <section class="module-cover parallax text-center" data-background="{% static 'images/module-6.jpg' %}" data-jarallax-video="https://youtu.be/DEhcuFwPU3o?si=-CYqOTIzDNUXzGqs" data-overlay="0.7">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>We are training company <br>based in London</h1>
          <p>Organising business courses around the globe</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero end-->

  <!-- About-->
  <section class="module divider-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-9 m-auto text-center">
          <h1>Our Expertise</h1>
          <p class="lead">With a team of highly experienced industry professionals and subject-matter experts, Bizeducate offers courses and training in key areas of business, including:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="space" data-MY="60px"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><img class="img-shadow" src="{% static 'images/main/services-1.jpg' %}" alt=""></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="space" data-MY="40px"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="number-box">
            <h6 class="number-box-header"><span class="number-box-number">01</span><span class="number-box-title">Accounting and Finance</span></h6>
            <div class="number-box-content">
              <p>Our courses cover a wide range of topics, from financial analysis and budgeting to advanced accounting principles. Whether you are a beginner looking to enhance your understanding of financial concepts or an experienced professional seeking to refine your skills, our programs cater to all levels of expertise.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="number-box">
            <h6 class="number-box-header"><span class="number-box-number">02</span><span class="number-box-title">Corporate Law</span></h6>
            <div class="number-box-content">
              <p>Understanding the legal framework within which businesses operate is crucial for success. Our corporate law courses provide comprehensive insights into corporate governance, contract law, intellectual property, and more. Participants gain a solid foundation in legal principles and learn how to navigate legal challenges effectively.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="number-box">
            <h6 class="number-box-header"><span class="number-box-number">03</span><span class="number-box-title">Compliance</span></h6>
            <div class="number-box-content">
              <p>In today’s complex regulatory environment, compliance is a critical aspect of business operations. Our compliance courses help professionals stay updated with the latest regulations, develop robust compliance frameworks, and implement effective risk management strategies.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="number-box">
            <h6 class="number-box-header"><span class="number-box-number">01</span><span class="number-box-title">Accounting and Finance</span></h6>
            <div class="number-box-content">
              <p>Our courses cover a wide range of topics, from financial analysis and budgeting to advanced accounting principles. Whether you are a beginner looking to enhance your understanding of financial concepts or an experienced professional seeking to refine your skills, our programs cater to all levels of expertise.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="number-box">
            <h6 class="number-box-header"><span class="number-box-number">02</span><span class="number-box-title">Corporate Law</span></h6>
            <div class="number-box-content">
              <p>Understanding the legal framework within which businesses operate is crucial for success. Our corporate law courses provide comprehensive insights into corporate governance, contract law, intellectual property, and more. Participants gain a solid foundation in legal principles and learn how to navigate legal challenges effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About end-->

  <!-- Services-->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-9 m-auto text-center">
          <h2>Why work with us?</h2>
          <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="space" data-MY="60px"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><img src="{% static 'images/main/notebook.png' %}" alt=""></div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box icon-box-left">
            <div class="icon-box-icon"><span class="ti-layout-media-left"></span></div>
            <div class="icon-box-title">
              <h6>Expert Faculty</h6>
            </div>
            <div class="icon-box-content">
              <p>Our courses are delivered by industry experts and seasoned professionals with extensive practical experience in their respective fields.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box icon-box-left">
            <div class="icon-box-icon"><span class="ti-desktop"></span></div>
            <div class="icon-box-title">
              <h6>Global Reach</h6>
            </div>
            <div class="icon-box-content">
              <p>We organise training programs in key business hubs worldwide, ensuring accessibility and convenience for professionals across the globe.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box icon-box-left">
            <div class="icon-box-icon"><span class="ti-face-smile"></span></div>
            <div class="icon-box-title">
              <h6>Customised Solutions</h6>
            </div>
            <div class="icon-box-content">
              <p>We understand that each organisation has unique training requirements. Bizeducate offers tailored programs to meet specific organisational needs, ensuring maximum relevance and value.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box icon-box-left">
            <div class="icon-box-icon"><span class="ti-marker-alt"></span></div>
            <div class="icon-box-title">
              <h6>Networking Opportunities</h6>
            </div>
            <div class="icon-box-content">
              <p>Our courses provide an excellent platform for professionals to network and connect with like-minded individuals from diverse backgrounds and industries.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box icon-box-left">
            <div class="icon-box-icon"><span class="ti-star"></span></div>
            <div class="icon-box-title">
              <h6>Travel to Another Country</h6>
            </div>
            <div class="icon-box-content">
              <p>We believe that learning should be an enjoyable and enriching journey. When you choose Bizeducate, you not only gain valuable knowledge but also have the chance to travel to exciting destinations around the globe. Discover new cities, experience diverse cultures, and create unforgettable memories while advancing your career.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box icon-box-left">
            <div class="icon-box-icon"><span class="ti-layout-sidebar-right"></span></div>
            <div class="icon-box-title">
              <h6>Sidebars</h6>
            </div>
            <div class="icon-box-content">
              <p>See how your users experience your website in realtime or view trends to see any changes in performance.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services end-->



{% endblock %}