{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Hero-->
  <section class="module-cover parallax text-center" data-background="{% static "images/module-6.jpg" %}" data-overlay="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Contact Us</h2>
          <p>We offer professional trainings in world’s most developed countries.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero end-->

  <!-- Message confirmation-->
  <section class="module divider-top bg-light">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 m-auto">
          <h3>Your message has been sent!</h3>
          <p class="lead">We will contact you shortly.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Message confirmation end-->

  <!-- Map-->
  <section class="maps-container">
    <div class="map" data-addresses="[48.859822, 2.352647]" data-info="[Lorem ipsum dolor sit amet.]" data-icon="{% static "images/map-icon.png" %}" data-zoom="15"></div>
  </section>
  <!-- Map end-->


{% endblock %}
