{% extends 'base.html' %}
{%  load static %}
{% block content %}

  <!-- Hero-->
  <section class="module parallax" data-background="{% static "images/module-1.jpg" %}" data-overlay="0.5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-9 m-auto text-center">
          <h2>Corporate Training</h2>
          <p class="lead">In-house training tailored to your needs</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero end-->

  <!-- Preview text -->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-11 m-auto text-center">
          <p class="lead">We have been successfully delivering in-house training at customer sites since 2000. We work across the UK, Europe and worldwide to provide tailored training, coaching and mentoring to a variety of clients from a range of industries. Our effective training designed specifically for your workforce is an ideal way to get large groups up to date with a new skill, new system or new legislation.</p>
          <p class="lead"> From your initial enquiry we will provide you with your own personal in-house training adviser and an expert trainer who will be selected based on their professional specialism, expertise, experience and knowledge of the industry to deliver the right training solution for you. We also provide an after-training review and honest feedback.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Preview text end -->

  <!-- Icon box -->
  <section class="module bg-gray">
    <div class="container">
      <div class="row pb-2">
        <div class="col-lg-6 m-auto text-center">
          <h2>Benefits of our customised training</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="ti-layout"></span></div>
            <div class="icon-box-title">
              <h6>Visual Composer</h6>
            </div>
            <div class="icon-box-content">
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
            </div>
            <div class="icon-box-link"><a href="#">Read more</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="ti-cup"></span></div>
            <div class="icon-box-title">
              <h6>Revolution Slider</h6>
            </div>
            <div class="icon-box-content">
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
            </div>
            <div class="icon-box-link"><a href="#">Read more</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="ti-harddrives"></span></div>
            <div class="icon-box-title">
              <h6>User Experience</h6>
            </div>
            <div class="icon-box-content">
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
            </div>
            <div class="icon-box-link"><a href="#">Read more</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="ti-desktop"></span></div>
            <div class="icon-box-title">
              <h6>Fully Responsive</h6>
            </div>
            <div class="icon-box-content">
              <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam lorem ipsum amet.</p>
            </div>
            <div class="icon-box-link"><a href="#">Read more</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Icon box end -->

  <!-- Timeline-->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-9 m-auto text-center">
          <h2>Digital Design.</h2>
          <p class="lead">See how your users experience your website in realtime or view trends to see any changes in performance over time.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="space" data-MY="60px"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="timeline">
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="{% static "images/blog/1.jpg" %}/" alt=""></div>
                <div class="timeline-body">
                  <h6>Front-End Framework</h6>
                  <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                  <p><a href="#">Read more</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="{% static "images/blog/3.jpg" %}" alt=""></div>
                <div class="timeline-body">
                  <h6>Web Development</h6>
                  <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                  <p><a href="#">Read more</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="{% static "images/blog/5.jpg" %}" alt=""></div>
                <div class="timeline-body">
                  <h6>Theme Development</h6>
                  <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                  <p><a href="#">Read more</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="{% static "images/blog/7.jpg" %}" alt=""></div>
                <div class="timeline-body">
                  <h6>Plugin Development</h6>
                  <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover.</p>
                  <p><a href="#">Read more</a></p>
                </div>
              </div>
            </li>
            <div class="timeline-top"></div>
            <div class="timeline-bottom"></div>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Timeline end-->

{% endblock %}
