{% extends 'base.html' %}
{%  load static %}

{% block title %} <title>Corporate training</title> {% endblock %}

{% block content %}

  <!-- Hero-->
  <section class="module parallax" data-background="{% static "images/corp_training1-compressed.jpg" %}" data-overlay="0.5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-9 m-auto text-center">
          <h2>Corporate Training</h2>
          <h5>Elevate Performance with Tailored Corporate Training Solutions</h5>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero end-->

  <!-- Preview text -->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-11 m-auto text-center">
          <p class="lead">Bizeducate offers tailored training solutions to fit your needs, schedule, and budget. With over a decade of experience, we specialise in in-house training across the UK, Europe, and worldwide, catering to diverse industries. Our customised training ensures large groups stay updated on new skills, systems, or legislation.</p>
          <p class="lead">Upon inquiry, you'll be assigned a personal in-house training adviser and expert trainer matched to your industry needs. Every program on our website can be adapted for in-house use, or we can create entirely unique programs for your organisation. Let us help bring your training goals to life.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Preview text end -->

  <!-- Icon box -->
  <section class="module bg-gray">
    <div class="container">
      <div class="row pb-2">
        <div class="col-lg-6 m-auto text-center">
          <h2>Benefits of our customised training</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="ti-map"></span></div>
            <div class="icon-box-title">
              <h6>Relevant Skill Development</h6>
            </div>
            <div class="icon-box-content">
              <p>Customised training ensures that your team receives education tailored to your organisation's specific needs and industry demands, maximizing the relevance and applicability of learned skills.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="ti-key"></span></div>
            <div class="icon-box-title">
              <h6>Increased Employee Engagement</h6>
            </div>
            <div class="icon-box-content">
              <p>Personalised training programs show your team that you value their development, fostering a sense of investment in their growth within the company. This, in turn, boosts motivation, morale, and overall engagement levels.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="ti-book"></span></div>
            <div class="icon-box-title">
              <h6>Optimised Learning Experience</h6>
            </div>
            <div class="icon-box-content">
              <p>Tailored training allows for a more targeted approach to address your team's strengths, weaknesses, and learning styles, leading to a more efficient and effective learning experience compared to generic, one-size-fits-all solutions.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="icon-box text-center">
            <div class="icon-box-icon"><span class="ti-pulse"></span></div>
            <div class="icon-box-title">
              <h6>Enhanced Performance</h6>
            </div>
            <div class="icon-box-content">
              <p>By addressing the specific knowledge gaps and skill requirements of your team, custom training equips employees with the tools and confidence needed to perform their roles more effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Icon box end -->

  <!-- Timeline-->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-9 m-auto text-center">
          <h2>Tailored course organisation</h2>
          <p class="lead">See what steps our customised learning solutions include:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="space" data-MY="60px"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="timeline">
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="{% static "images/timeline/introduction-compressed.jpg" %}/" alt="introduction"></div>
                <div class="timeline-body">
                  <h6>Introduction and Needs Assessment</h6>
                  <p>Your assigned training adviser and expert trainer will collaborate closely with you to grasp your organisation's requirements, ensuring alignment with your learning objectives and staff capabilities.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="{% static "images/timeline/program_development-compressed.jpg" %}" alt="program_development"></div>
                <div class="timeline-body">
                  <h6>Program Development</h6>
                  <p>Whether adapting existing courses or crafting new ones, your training material will be meticulously tailored by our team for precision, depth, and relevance to your business context.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="{% static "images/timeline/materials-compressed.jpg" %}" alt="materials"></div>
                <div class="timeline-body">
                  <h6>Logistics Coordination</h6>
                  <p>From venue bookings to travel arrangements, our dedicated training adviser manages all logistics seamlessly. We accommodate your preferences, whether for on-site, online, or hybrid delivery.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-preview"><img src="{% static "images/timeline/certificates-compressed.jpg" %}" alt="certificates"></div>
                <div class="timeline-body">
                  <h6>Customised Delivery and Support</h6>
                  <p>Post-training, we continue to assist with implementation, keeping you informed on relevant updates and providing ongoing support. You'll have opportunities for course review to reinforce learning retention.</p>
                </div>
              </div>
            </li>
            <div class="timeline-top"></div>
            <div class="timeline-bottom"></div>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Timeline end-->

{% endblock %}
