{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Page Header-->
  <section class="module parallax" data-background="{{ course.venue.venue_image.url }}" data-overlay="0.5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-9 m-auto text-center">
          <h2>{{ course.title }}</h2>
          {% if course.start_date %}
            <p class="lead">{{ course.start_date|date:"d M Y" }} - {{ course.end_date|date:"d M Y" }} | {{ course.venue }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!-- Page Header end-->

  <!-- Course preview-->
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">
          <h3>Course overview:</h3>
          <p class="lead">{{ course.overview }}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Course preview end-->

  <!--Additional info-->
  <section class="module bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">
          <ul class="nav nav-tabs">
            {% if course.audience %}
               <li class="nav-item">
                 <a class="nav-link active" data-toggle="tab" href="#tab-1-1"><h6>Who should attend</h6></a>
               </li>
            {% endif %}
            {% if course.learning_outcome %}
               <li class="nav-item">
                 <a class="nav-link" data-toggle="tab" href="#tab-1-2"><h6>Learning outcomes</h6></a>
               </li>
            {% endif %}
            {% if course.key_questions %}
               <li class="nav-item">
                 <a class="nav-link" data-toggle="tab" href="#tab-1-3"><h6>Key questions</h6></a>
               </li>
            {% endif %}
          </ul>
          <div class="tab-content">
            {% if course.audience %}
               <div class="tab-pane show active" id="tab-1-1">
                 <p class="lead">{{ course.audience }}</p>
               </div>
            {% endif %}
            {% if course.learning_outcome %}
               <div class="tab-pane" id="tab-1-2">
                 <p class="lead">{{ course.learning_outcome }}</p>
               </div>
            {% endif %}
            {% if course.key_questions %}
               <div class="tab-pane" id="tab-1-3">
                 <p class="lead">{{ course.key_questions }}</p>
               </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Additional info end-->

  <!-- Trainers -->
  <div class="module">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-8 m-auto">
          <h3>Course facilitator:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 m-auto">
          {% for trainer in course.trainers.all %}
            <div class="media">
              <img src="{{ trainer.trainer_image.url }}" class="mr-3" style="width: 200px; height: auto" alt="trainer">
              <div class="media-body pl-3">
                <h5 class="mt-0">{{ trainer.first_name }} {{ trainer.last_name }}</h5>
                <p>{{ trainer.profile }}</p>
              </div>
            </div><br><br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!--Trainers end-->


{% endblock %}