{% load static %}

<div class="row m-t-40">
  <div class="col-md-8 m-auto text-center">
    <div class="owl-carousel clients-carousel">
       <div class="client"><img src="{% static "images/clients/socar.png" %}" alt=""></div>
       <div class="client"><img src="{% static "images/clients/brk.gif" %}" alt=""></div>
       <div class="client"><img src="{% static "images/clients/tengizchevroil.png" %}" alt=""></div>
       <div class="client"><img src="{% static "images/clients/KazMunaiGaz.png" %}" alt=""></div>
       <div class="client"><img src="{% static "images/clients/kazpost.png" %}" alt=""></div>
       <div class="client"><img src="{% static "images/clients/ktz.png" %}" alt=""></div>
       <div class="client"><img src="{% static "images/clients/SOFAZ.png" %}" alt=""></div>
    </div>
  </div>
</div>
