{% load static %}

<section class="module-cover parallax text-center pt-5 pb-5" data-background="{% static "images/london_city_1920-compressed.jpg" %}" data-overlay="0.5">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h2>Looking For An Exclusive Corporate Training?</h2>
               <p class="lead">We will incorporate your inquiries and needs.</p>
           </div>
       </div>
       <div class="row mt-5">
           <div class="col-md-12 m-auto text-center">
               <p><a class="btn btn-circle btn-brand" href="{% url "website:corporate" %}">FIND OUT MORE</a>
           </div>
       </div>
   </div>
</section>
