{% load static %}
<section class="module parallax" data-background="{% static "images/london-2.jpg" %}" data-overlay="0.5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-9 m-auto text-center">
        <h2>Looking For Exclusive Corporate Training?</h2>
        <p class="lead">We will incorporate your inquiries and needs.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 m-auto text-center">
        <p><a class="btn btn-circle btn-brand" href="#">GET A QUOTE</a>
      </div>
    </div>
  </div>
</section>
