{% load static %}
<section class="module parallax" data-background="{% static "images/module-1.jpg" %}" data-overlay="0.5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="counter">
              <div class="counter-icon"><span class="icon-energy icons"></span></div>
              <div class="counter-number">
                <h6><strong class="counter-timer" data-from="0" data-to="350">0</strong></h6>
              </div>
              <div class="counter-title">Organised Courses</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="counter">
              <div class="counter-icon"><span class="icon-mustache icons"></span></div>
              <div class="counter-number">
                <h6><strong class="counter-timer" data-from="0" data-to="1160">0</strong></h6>
              </div>
              <div class="counter-title">Participated Professionals</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="counter">
              <div class="counter-icon"><span class="icon-fire icons"></span></div>
              <div class="counter-number">
                <h6><strong class="counter-timer" data-from="0" data-to="11">0</strong></h6>
              </div>
              <div class="counter-title">Countries of Organised Trainings</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="counter">
              <div class="counter-icon"><span class="icon-diamond icons"></span></div>
              <div class="counter-number">
                <h6><strong class="counter-timer" data-from="0" data-to="14">0</strong></h6>
              </div>
              <div class="counter-title">Years on Market</div>
            </div>
          </div>
        </div>
      </div>
    </section>
