
<section class="module divider-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h2>Areas of Our Courses</h2>
        <p class="lead">Discover the Wide Array of Expertise Covered in Our Course Offerings.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="space" data-MY="60px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="ti-money"></span></div>
          <div class="icon-box-title">
            <h6>Finance</h6>
          </div>
          <div class="icon-box-content">
            <p>Our comprehensive courses tailored to professionals seeking to master financial analysis, risk management, and strategic decision-making.</p>
          </div>
          <div class="icon-box-link"><a href="{% url 'website:finance-list' %}">Read more</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="ti-dashboard"></span></div>
          <div class="icon-box-title">
            <h6>Project Management</h6>
          </div>
          <div class="icon-box-content">
            <p>Build confidence in planning, budgeting, and leading construction projects with courses focused on practical skills and real-world application.</p>
          </div>
          <div class="icon-box-link"><a href="{% url "website:project-management-list" %}">Read more</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="ti-briefcase"></span></div>
          <div class="icon-box-title">
            <h6>Corporate Law</h6>
          </div>
          <div class="icon-box-content">
            <p>Boost your legal skills with our corporate law courses, covering business regulations, corporate structures, contracts, arbitration, and governance strategies.</p>
          </div>
          <div class="icon-box-link"><a href="{% url "website:law-list" %}">Read more</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="ti-pie-chart"></span></div>
          <div class="icon-box-title">
            <h6>GRC</h6>
          </div>
          <div class="icon-box-content">
            <p>Learn essential GRC skills with our practical courses, empowering you to manage risk, ensure compliance, and strengthen organisational governance.</p>
          </div>
          <div class="icon-box-link"><a href="{% url "website:grc-list" %}">Read more</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
