
<section class="module divider-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h2>Areas of Our Courses</h2>
        <p class="lead">Discover the Wide Array of Expertise Covered in Our Course Offerings.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="space" data-MY="60px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="ti-money"></span></div>
          <div class="icon-box-title">
            <h6>Finance</h6>
          </div>
          <div class="icon-box-content">
            <p>Our comprehensive courses tailored to professionals seeking to master financial analysis, risk management, and strategic decision-making.</p>
          </div>
          <div class="icon-box-link"><a href="{% url 'website:finance-list' %}">Read more</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="ti-shopping-cart"></span></div>
          <div class="icon-box-title">
            <h6>Procurement</h6>
          </div>
          <div class="icon-box-content">
            <p>Elevate your procurement prowess with our specialised courses designed to optimise supply chain efficiency, negotiation tactics, and vendor management strategies.</p>
          </div>
          <div class="icon-box-link"><a href="{% url "website:procurement-list" %}">Read more</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="ti-briefcase"></span></div>
          <div class="icon-box-title">
            <h6>HR</h6>
          </div>
          <div class="icon-box-content">
            <p>Dive into the diverse realm of human resources with our dynamic courses covering recruitment, talent management, employee relations, and more.</p>
          </div>
          <div class="icon-box-link"><a href="{% url "website:hr-list" %}">Read more</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="ti-pie-chart"></span></div>
          <div class="icon-box-title">
            <h6>Corporate Governance</h6>
          </div>
          <div class="icon-box-content">
            <p>Explore the principles of effective corporate governance with our insightful courses focusing on board dynamics, regulatory compliance, and ethical decision-making.</p>
          </div>
          <div class="icon-box-link"><a href="{% url "website:cg-list" %}">Read more</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
