{% load static %}

  <!-- Testimonials-->
  <section class="module bg-gray">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-6 col-md-9 m-auto text-center">
          <h2>What Our Customers Say</h2>
          <p class="lead">Our goal is to increase your professional expertise. We’ll do our best so that the result of training in BizEducate exceeds your expectations.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel review-carousel">
            <div class="review-card">
              <div class="review-card-content">
                <p>Map where your photos were taken and discover local points of interest. Map where your photos.</p>
              </div>
              <div class="review-card-author">
                <div class="review-card-author-photo">
                  <img src="{% static "images/avatar/1.jpg" %}" alt="">
                </div>
                <div class="review-card-author-info">
                  <h6 class="review-card-author-title">Emma Connor</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials end-->
