<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}
    <title>Document</title>
  {% endblock %}
  {% load static %}

  <link rel="stylesheet" href="{% static "fonts" %}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/plugins.min.css" %}">
  <link rel="stylesheet" href="{% static "css/template.css" %}">



</head>
<body>
<!-- Preloader-->
  <div class="page-loader">
    <div class="page-loader-inner">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </div>
<!-- Preloader end-->

<!-- Header-->
  <header class="header header-transparent">
    <div class="container-fluid">
      <!-- Brand-->
      <div class="inner-header"><a class="inner-brand" href="{% url "website:index" %}">Bizeducate</a></div>
      <!-- Navigation-->
      <div class="inner-navigation collapse">
        <div class="inner-nav">
          <ul>
            <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">About</span></a>
            </li>
            <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Open Courses</span></a>
              <ul class="sub-menu">
                <li class="menu-item-span"><a href="#">Finance</a>
                </li>
                <li class="menu-item-span"><a href="#">Procurement</a>
                </li>
                <li class="menu-item-span"><a href="#">HR</a>
                </li>
                <li class="menu-item-span"><a href="#">Corporate Law</a>
                </li>
                <li class="menu-item-span"><a href="#">Other</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Corporate Training</span></a>
            </li>
            <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Contact Us</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="extra-nav">
        <ul>
          <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Log in</span></a>
          </li>
          <li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
          <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
        </ul>
      </div>
    </div>
  </header>
<!-- Header end-->
<!-- Wrapper-->
  <div class="wrapper">
    {% block content %}
    {% endblock %}
  
  <!-- Footer-->
    <footer class="footer">
      <div class="footer-widgets">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <!-- Text widget-->
              <aside class="widget widget-text">
                <div class="widget-title">
                  <h6>About Us</h6>
                </div>
                <div class="textwidget">
                  <p>We organise trainings around the globe.</p>
                </div>
              </aside>
            </div>
            <div class="col-md-4">
              <!-- Recent entries widget-->
              <aside class="widget widget-recent-entries">
                <div class="widget-title">
                  <h6>Quick Links</h6>
                </div>
                <ul>
                  <li><a href="#">Open Courses</a></li>
                  <li><a href="#">Corporate Training</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Terms&Conditions</a></li>
                </ul>
              </aside>
            </div>
            <div class="col-md-4">
              <!-- Twitter widget-->
              <aside class="widget twitter-feed-widget">
                <div class="widget-title">
                  <h6>Contact</h6>
                </div>
                <div class="textwidget">
                  <p>
                    Location: 124 City Road, London, EC1 2NX, United Kingdom<br>
                    E-mail: office@bizeducate.com<br>
                    London: +4420 3329 9999<br>
                    Astana: +7 7172 9999<br>
                  </p>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright">
                <p>© 2008-2024 Bizeducate Ltd., All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end-->
  </div>
  <!-- Wrapper end-->

  <!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>

<script src="{% static 'js/custom/jquery.min.js' %}"></script>
<script src="{% static 'js/custom/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom/plugins.min.js' %}"></script>
<script src="{% static 'js/custom/custom.min.js' %}"></script>
</body>
</html>